.logo{
   width: 14%;    
   margin: 0 auto;
   display:block;
   margin-bottom: 30px;
   margin-top: 140px;
}

input {
    width: 580px;
    height: 40px;
    margin: 0 auto;
    display: block;
    background: url(microphone.png) no-repeat 5px;
    border-style:solid;
    border-width: 1px;
    border-color: #d9d9d9;
    /*padding-right: 30px;*/
    background-size: 28px 28px;
    background-position: 98% ;
}

.row{
    margin-top: 28px;
    display: block;
    text-align: center;
}

button{
    background-color: #F2F2F2;
    border: none;
    padding: 10px 15px;
    font-weight: bold;
    font-size: 13px;
    color: #757575;
    margin: 2.5px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    align-items: right;
}

li{
    display: inline-block;
    padding: 0 7px 0 7px;
    vertical-align: middle;
}

.n_L {
    padding-left: 0px;
}

li a{
    text-decoration: none;
}

.textLink{
    font-family: arial;
    font-size: 13px;
    opacity: .75;
}

.textLink:hover {
    text-decoration: underline;
}

a {
    color: #000;
}

.topMenu{
    float: right;
}

li div {
    line-height: 20px;
    vertical-align: middle;
   
}


.clear
{
    clear: both;
    display: block;
    height: 0;
}

.bottomMenu{
    background-color: #f2f2f2;
    height: 40px;
    bottom: 0px;
    position: fixed;
    width: 100%;
    left: 0px;
}

.leftfooter{
    float: left;
    padding-top: 10px;
    padding-left: 15px;
    
}

.leftfooter li {
    padding-right: 20px;
}

.rightfooter {
    float: right;
    padding-top: 10px;
    padding-right: 15px;
}

.rightfooter li {
    padding-right: 20px;
}
