.logo{
   width: 15%;    
   margin: 0 auto;
   display:block;
   margin-bottom: 30px;
   margin-top: 50px;
}

input {
    width: 550px;
    height: 40px;
    margin: 0 auto;
    display: block;
    background: url(microphone.png) no-repeat 5px;
    /*padding-right: 30px;*/
    background-size: 28px 28px;
    background-position: 98% ;
}

.row{
    margin-top: 28px;
    display: block;
    text-align: center;
}

button{
    background-color: #F2F2F2;
    border: none;
    padding: 10px 15px;
    font-weight: bold;
    font-size: 13px;
    color: #757575;
    margin: 2.5px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    align-items: right;
}

li{
    display: inline;
    padding: 8px;
    vertical-align: middle;
}

li a{
    text-decoration: none;
}